@import 'src/styles/vars';

#description {
    padding-top: 2em;
}

.stars {
    margin-top: 1em;
}

.services {
    margin: 6em 0.4em;
    font-size: 20px;
}

.ui.title {
    padding: 3em;
    background-color: $beige;
    border-radius: 5px;
}

#gas {
    margin: 3em 1em;
}

